.loginChild {
  position: absolute;
  height: 59.77%;
  width: 47.42%;
  top: 20.07%;
  right: 26.25%;
  bottom: 20.15%;
  left: 26.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.login {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 832px;
  overflow: hidden;
}
